<h1>Pictures</h1>

<% @pictures.each do |picture| %>
	<% picture_name = "#{picture.title}, #{picture.artist}" %>
	<p><%= picture_name %></p>
	<img src="<%= picture.url %>" alt="<%= picture_name %>">
<% end %>