<h1>Pictures</h1>

<% @pictures.each do |picture| %>
	<% picture_name = "#{picture.title}, #{picture.artist}" %>
	<p><%= picture_name %></p>
	<a href="<%= "/pictures/#{picture.id}" %>"><img src="<%= picture.url %>" alt="<%= picture_name %>"></a>
<% end %>