<%= link_to "Back to Pictures", pictures_url %>
<%= link_to "Edit Picture", edit_picture_path(@picture) %>
<% picture_name = "#{@picture.title}, #{@picture.artist}" %>
<h1><%= picture_name %></h1>
<%= image_tag(@picture.url, alt: picture_name) %>